

.summer-collection-category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    flex-wrap: wrap;
}

.summer-category-tittle h6{
    color: grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.summer-collection-heading h1{
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.newarrival-cloth-section{
 
    margin: 0px 4px;
    padding: 0px 1px;
   
}

.newarrival-products {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.collection img {
  width: 200px;
 
}

.newarrival-background {
    box-shadow: 0px 0.1px 3px 0px;
    padding: 20px 14px;
    border-radius: 2px;
    height: 360px;
    width: 230px;
    margin-left: 5px;
    border: none;
  
}

.newarrival-product-name{
  margin-top: 20px;
}
.newarrival-product-name h6{

    display: -webkit-box;
    -webkit-box-orient :vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: 40px;
    font-weight: 500;
    font-family: sans-serif;

}

.newarrival-product-prices{
    display: flex;
    gap: 10px;
  
    align-items: center;
}

.newarrival-product-prices .old-price {
    text-decoration: line-through;
    color: grey;
    font-size: 13px;
  
}
.newarrival-product-prices .new-price{
    font-weight: 600;
}
.newarrival-product-prices .offerpercentage{
    color: red;
    font-size: 14px;
} 