.sale-section .scrolling-offer{

    position: relative;

}

.scrolling-offer {
    display: flex;

    gap: 48px;
    white-space: nowrap;
    background: rgb(190, 30, 30);
    height: 30px;
    color: wheat;
    align-items: center;
    overflow: hidden;
    width: 100%;
    padding-top: 10px;
   
    

    
}
.scrolling-offer h6{

    position: relative;
}

/* @keyframes scroll{
    0% {
        transform: translateX(0%);
    } 100% {
        transform: translateX(-100%);
    } 10% {
        transform: translateX(-500%);
    }
} */